:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --white: #FFFFFF;
  --special-ylellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --success: #5FBB2D;
  --error: #BA2732;
  --deep-blue: #293449;
  --fiolet: #32425C;
  --purpur: #161D29;
  --elis: #F3F7F9;
  --black: #000000;
  --cobalt: #1D2739;
  --telegrey: #888888;
  --light-grey: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EAEAEA;
  --neutral-grey: #A9A9A9;
  --dark-blue: #212A3A;
}

body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Verdana", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
  background-color: var(--telegrey);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  color: var(--white);
  background-color: var(--basic-background);
}

.logo-pic {
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.logo:active {
  background-color: var(--deep-blue);
}

.checkout {
  background-color: var(--basic-green);
  color: var(--white);
}

.checkout:hover {
  background-color: var(--success);
}

.checkout:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--basic-green);
}

.bookmark-cart {
  color: var(--white);
}

.bookmark-cart:active {
  background-color: var(--purpur);
}

.tagline {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.address {
  font-size: 14px;
  line-height: 24px;
  color: var(--fiolet);
}

.phone {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  background: var(--elis);
  border: 3px solid var(--white);
}

.login-signin {
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
}

.login-signin:hover {
  color: var(--basic-red);
}

.login-signin:active {
  color: var(--basic-greylight);
}

.main-menu {
  list-style: none;
  background-color: var(--fiolet);
}

.company {
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.company:hover {
  background-color: var(--deep-blue);
  box-shadow: inset 0px -5px 0px var(--deep-blue);
}

.company:active {
  background-color: var(--cobalt);
  box-shadow: inset 0px -5px 0px var(--deep-blue);
  opacity: 0.5;
}

.about-company {
  background-color: var(--telegrey);
  list-style: none;
  font-family: "PT Sans", "Verdana", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
}

.company-details {
  font-family: "Cuprum", "Verdana", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.delivery-list {
  font-family: "Cuprum", "Verdana", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
}

.company-details-btn {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  background: var(--basic-red);
}

.help-btn {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  background: var(--basic-red);
}

.footer-navigation {
  background-color: var(--fiolet);
  list-style: none;
}

.bottom-link {
  color: var(--basic-background);
}

.bottom-link:hover {
  text-decoration-line: underline;
}

.bottom-link:active {
  color: var(--basic-background);
  opacity: 0.5;
}

.footer-link {
  font-size: 18px;
  line-height: 24px;
  color: var(--special-yellowlight);
}

.footer-link:hover {
  text-decoration-line: underline;
}

.footer-link:active {
  opacity: 0.5;
}

.bottom-text {
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}

.social-button {
  background: var(--dark-blue);
}

.social-button:hover,
.social-button:active {
  background: var(--basic-red);
}

.feedback-developedby {
  color: var(--special-yellowlight);
}

.feedback-developedby:hover {
  text-decoration-line: underline;
}

.feedback-developedby:active {
  color: var(--white);
}

.pop-up {
  display: none;
}

.visually-hidden {
  display: none;
}

.person {
  font-size: 21px;
  line-height: 21px;
}

.person:active {
  color: var(--basic-greylight);
}

.personal-data {
  font-size: 16px;
  line-height: 18px;
  color: var(--fiolet);
}

.personal-data:hover {
  color: var(--basic-red);
}

.personal-data:active {
  color: var(--basic-greylight);
}

.breadcrumbs {
  font-family: "PT Sans", "Verdana", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.filter-name {
  font-family: "PT Sans", "Verdana", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-items {
  font-family: "PT Sans", "Verdana", sans-serif;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter-btn {
  font-family: "PT Sans", "Verdana", sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.product-name {
  font-family: "PT Sans", "Verdana", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.old-price {
  font-family: "PT Sans", "Verdana", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--neutral-grey);
}

.new-price {
  font-family: "PT Sans", "Verdana", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  background: var(-basic-red);
}

.main-menu-items {
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}
